.container {
  box-sizing: border-box;
  /* padding: 30px; */
  position: relative;
  width: 430px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;

  background-color: #e9eaf5;
}
