.cover {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: calc(3vw + 120px);
}

.container {
    width: 70%;
    height: 80vh;
    display: flex;
    gap: 1.5vw;
    position: relative;
}

.left_panel {
    border-radius: 20px;
    color: #444;
    font-weight: bold;
    background-color: #E5E1F5;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);

    input {
        border: none;
        font-size: 1.5rem;
        background-color: transparent;
        /* text-align: center; */
        padding: 0 0 0 30px;
        box-sizing: border-box;
        /* width: 10vw; */
    }
}

.left_panel input:focus {
    outline: none;
}

.left_panel input:focus {
    outline: none;
}

.pic {
    top: 10%;
    position: absolute;
    
    img {
        width: 250px;
    }
    
    input[type='file'] {
        display: none;
    }
    
    .camera {
        color: #444;
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        right: 10%;
        cursor: pointer;
    }
}

.pic_container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #6c47ff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
}

.name {
    top: 45%;
    position: absolute;
    text-align: center;
    font-size: 2rem;
}

.name::after {
    content: '';
    display: block;
    height: 3px;
    width: 12vw;
    background-color: #6c47ff;
    margin: 10px auto 0;
}

.article {
    top: 60%;
    position: absolute;
    font-size: 1.5rem;
}

.article .user_id,
.article .empno {
    display: flex;
    gap: 1vw;
    margin-bottom: 1vw;
    justify-content: space-between;
}

.user_id div,
.empno div {
    text-align: center;
}

.user_id div::after,
.empno div::after {
    content: '';
    display: block;
    height: 3px;
    width: 10vw;
    background-color: #6c47ff;
    margin: 10px auto 0;
}

.right_panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    right: 0;
    gap: 1.5vw;
    height: inherit;
}

.right_panel .title {
    border-radius: 15px;
    background-color: #E5E1F5;
    padding: 40px 60px;
    box-sizing: border-box;
    color: #444;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
}

.right_panel .form {
    flex-grow: 1;
}

.right_panel .input {
    border-radius: 20px;
    background-color: #E5E1F5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.input .single {
    width: 25vw;
    position: relative;
}

.input .double {
    display: flex;
    position: relative;
    width: 25vw;
    gap: 1vw;
}

.placeholder_text {
    position: absolute;
    color: #222;
    top: -10%;
    /* margin-left: 10px; */
    font-size: 0.9rem;
}

.double .position_text {
    position: absolute;
    color: #222;
    top: -10%;
    right: 44%;
    transform: translateX(50%);
    font-size: 0.9rem;
}

.double .postal_text {
    position: absolute;
    color: #222;
    top: -10%;
    right: 22%;
    transform: translateX(50%);
    font-size: 0.9rem;
}

.double .address {
    width: 70%;
}

.double .postal {
    width: 30%;
}

.right_panel .input input {
    height: 6vh;
    font-size: 1.2rem;
    /* border: 1px solid #6c47ff; */
    /* border-radius: 10px; */
    border: none;
    border-bottom: 1px solid #6c47ff;
    background-color: transparent;
    padding: 20px 0 5px 0;
    box-sizing: border-box;
}

.right_panel .input input:focus {
    border-bottom: 2px solid #4a1dff;
    outline: none;
}

.double .dept,
.double .position {
    width: 100%;
    height: 6vh;
    font-size: 1rem;
    /* border: 1px solid #6c47ff; */
    /* border-radius: 10px; */
    border: none;
    border-bottom: 1px solid #6c47ff;
    background-color: transparent;
    padding: 25px 0 5px 0;
    box-sizing: border-box;
}

.double .dept:focus,
.double .position:focus {
    border-bottom: 2px solid #4a1dff;
    outline: none;
}

.buttons {
    display: flex;
    gap: 4vw;
    /* margin-top: .5vw; */
}

.buttons button {
    width: 8vw;
    padding: 10px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #6c47ff;
}

.buttons .modify {
    color: white;
    background-color: #6c47ff;
    cursor: pointer;
}

.buttons .modify:hover {
    background-color: #4a1dff;
    transition: background-color 0.1s ease;
}

.buttons .cancel {
    background-color: white;
    cursor: pointer;
}