.body {
    width: 100%;
    height: 8vh;
    padding: 0.5vh 30px ;
    border-radius: 10px;
    background-color: #E5E1F5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    
    color: #222; 
    box-sizing: border-box;

    position: relative;
}

.name {
    width: 25%;
    font-size: 1.3rem;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    overflow:hidden; 



}
.name .nameBox{
    display: -webkit-box;
    -webkit-line-clamp: 2;       /* 최대 2줄까지 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 1.2em;
    max-height: calc(1.2em * 2); /* 2줄 높이 제한 */
}





.content {
    width: 55%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.timeline {
    width: 8%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.dotBox {
    /* width: 3%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
}



.content label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}
.manager {
    width: 100%;
}
.detail {
    width: 100%; 
    color: #444;
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}


.status {
    width: 100%;
    font-size: 1rem;
}
.deadline {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f00;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon {
    vertical-align: text-top;
}


.editMenu {
    position:absolute;
    top:50px;
    right: 30px;

    z-index: 30;

    border-radius: 5px;
}
.editMenu hr {
    margin: 0;
}


.dotBtnEdit {
    background-color: #aea2df;
    padding: 12px 25px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dotBtnEdit:hover  {    
    background-color: #593ad6;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dotBtnDelete {
    background-color: #aea2df;
    padding: 12px 25px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dotBtnDelete:hover  {    
    background-color: #593ad6;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dotBtnNone {
    background-color: #aea2df;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
}
.dotBtnNone:hover  {    
    background-color: #593ad6;
    color: white;
}