.chatlist {
    padding: 1rem;
    width: 100%;
    height: 74vh;
    box-sizing: border-box;

    background-color: #E5E1F5;

    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 헤더 영역 */
.topbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.listtitle {
    font-size: 24px;
    font-weight: bold;
    color: #4e3fb3;
}

.createicon {
    background-color: #6C47FF;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 40px;
    height: 40px;

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.createicon:hover {
    background-color: #5335d1;
    transform: scale(1.1);
}

/* 리스트 영역 */
.roomboxes {
    overflow-y: auto;
    padding-right: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    margin-left: 8px;
}

/* 채팅방 아이템 */
.chatroombox {
    display: flex;
    align-items: center;
    background-color: #fff;
    text-align: left;

    border-radius: 10px;
    padding: 14px;
    margin-bottom: 1rem;

    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.chatroombox:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

/* 아이콘 */
.empicon {
    width: 40px;
    height: 40px;
    /* background-color: #6C47FF; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.empicon img {
    width: 40px;
}

/* 오른쪽 정보 */
.rightbox {
    width: 80%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.projecticon {
    font-size: 14px;
    color: #999;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chatname {
    font-size: 18px;
    font-weight: 600;
    color: #333;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
