.mainchat {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 74vh;
  box-sizing: border-box;

  background-color: #E5E1F5;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .25);
}

.messagebox {
  position: relative;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  scrollbar-width: none;
  margin: 0 auto;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageItem {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.myItem {
  align-self: flex-end;
  text-align: right;
}

.otherItem {
  align-self: flex-start;
  text-align: left;
}

.senderName {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: #555;
  padding-left: 5px;
}

.centerSystemMessage {
  text-align: center;
  color: gray;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.messageBubble {
  border-radius: 16px;
  padding: 10px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.myMessage {
  background-color: #d0f0ff;
  border-bottom-right-radius: 0;
}

.otherMessage {
  background-color: #f0f0f0;
  border-bottom-left-radius: 0;
}

.messageText {
  font-size: 1rem;
  color: #222;
}

.messageTime {
  font-size: 0.75rem;
  color: #999;
  margin-top: 2px;
  padding: 0 6px;
}

.MessageInputBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  height: 6%;
  border-radius: 10px;
  background-color: white;
}

.MessageInputBox:focus-within {
  border: 2px solid #4a1dff;
}


.messageInput {
  width: 88%;
  height: 60%;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
}

.sendMessagIcon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 5px;
}
