.container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.side_bar {
    width: 20%;
    height: 100%;
    background-color: #e9eaf5;
    position: relative;
}

.side_bar .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: right;
    top: 10%;
    right: 0;
}


.menu .link {
    font-size: 1.3rem;
    text-decoration: none;
    text-align: right;
    color: #222;
    padding: 20px 2vw;
    margin: 10px 0;
    background-color: transparent;
    font-weight: normal;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.menu .active {
    background-color: white;
    font-weight: bold;
    pointer-events: none;
}

.list_Page {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.list_Page .header {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 30px;
}

.list_container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 88%;
    height: 80%;
}

.option_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    padding: 7.5px 25px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
    background-color: #337ab7;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.button:hover {
    background-color: #286090;
    color: white;
    transition: all 0.1s ease-in;
}


.search_box .btnStyle_yg {
    border: #6c47ff;
    background-color: #6c47ff;
}
.search_box .btnStyle_yg:hover {
    background-color: #4a1dff;    
}


.search_box { 
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.select {
    margin-right: 10px;
    width: 5vw;
    height: 4vh;
    border: 1px solid #6c47ff;
    border-radius: 5px;
    padding: 10px;
    
}

.select:focus {
    outline: none;
}


.input_box {
    position: relative;
    display: flex;
    align-items: center;

}

.search_box .input {
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    border: none;
    outline: 1px solid #6c47ff;
    padding: 0 40px;
    box-sizing: border-box;
    transition: outline 0.5s ease-in-out;
}

.input_box i {
    position: absolute;
    left: 0;
    margin-left: 10px;
}

.Board_table {
    border-collapse: collapse;
    width: 100%;
}

.Board_title {
    background-color: #e5e1f5;
    height: 60px;
    border-radius: 5px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    color: #444;
}

.Board_table {
    height: 50px;
    color: #222;
}

.tr {
    text-decoration: none;
}

.Board_table tbody td {
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
}


.number {width: 10%;}
.postTitle {width: 45%;}
.writer {width: 20%;}
.writeTime {width: 15%;}
.views {width: 10%;}

.alignLeft {
    text-align: left !important;
}

.Board_paging {
    /* border: 1px solid #6c47ff; */
    width: 10vw;
    text-align: center;
    margin: 10px auto 0;
    font-size: 1.2rem;
}

