@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  /* font-weight: 400; */
}

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
  /* outline: 1px solid red !important; */
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular', sans-serif;
}

.main {
  display: flex;
  position: relative;
}